.container
{
    display: grid;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-columns: 180px 180px 180px 180px 180px 180px 180px 180px 180px 180px 180px;
    grid-gap: 10px;
}

body
{
    background-color: lightgray;
}

#Title
{
    grid-column-start: 1;
    grid-column-end: span 10;

    background-color: skyblue;
}

h1
{
    text-align: center;
}

#home
{
    grid-row-start: 2;
    grid-column-start: 4;
    text-align: center;

    font-size: larger;
}

#projects
{
    grid-row-start: 2;
    grid-column-start: 5;
    text-align: center;

    font-size: larger;
}

#hobbies
{
    grid-row-start: 2;
    grid-column-start: 6;
    text-align: center;

    font-size: larger;
}

#contact
{
    grid-row-start: 2;
    grid-column-start: 7;
    text-align: center;

    font-size: larger;
}

#BlockText
{
    grid-row-start: 3;
    grid-row-end: span 6;
    grid-column-start: 3;
    grid-column-end: span 4;

    background-color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid blue;

    text-align: center;
}

#quote
{
    grid-row-start: 3;
    grid-row-end: span 2;
    grid-column-start: 7;
    grid-column-end: span 2;

    background-color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid blue;

    text-align: center;
}

#HomePosition2
{
    grid-row-start: 1;
    grid-column-start: 4;
    text-align: center;

    font-size: x-large;
}

#ProjectsPosition2
{
    grid-row-start: 1;
    grid-column-start: 5;
    text-align: center;

    font-size: x-large;
}

#HobbiesPosition2
{
    grid-row-start: 1;
    grid-column-start: 6;
    text-align: center;

    font-size: x-large;
}

#ContactPosition2
{
    grid-row-start: 1;
    grid-column-start: 7;
    text-align: center;

    font-size: x-large;
}

#Trike
{
    grid-row-start: 3;
    grid-row-end: span 6;
    grid-column-start: 2;
    grid-column-end: span 3;

    background-color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid blue;

    text-align: center;
}

#Skills
{
    grid-row-start: 3;
    grid-row-end: span 8;
    grid-column-start: 5;
    grid-column-end: span 2;

    background-color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid blue;

    text-align: center;
}

#GoKart
{
    grid-row-start: 3;
    grid-row-end: span 6;
    grid-column-start: 7;
    grid-column-end: span 3;

    background-color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid blue;

    text-align: center;
}

#TrikeDesc
{
    grid-row-start: 9;
    grid-column-start: 2;
    grid-row-end: span 2;
    grid-column-end: span 3;

    background-color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid blue;
}

#GoKartDesc
{
    grid-row-start: 9;
    grid-row-end: span 2;
    grid-column-start: 7;
    grid-column-end: span 3;

    background-color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid blue;
}